* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.musica {
  background-color: lightseagreen;
  color: linen;
  text-align: center;
}
.Titulo-musica {
  color: black;
}
footer {
  list-style: none;
  display: inline-block;
  position: relative;
  margin-left: 30%;
  margin-right: -30%;
}
